<body>

    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    ל תפריט משתמש
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['./userarea']">איזור משתמש</a>
                </li>


                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['./userreport']">דווח על תקלה</a>
                </li>


                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['./userdetails']">עדכון פרטים</a>
                </li>

                <li class="nav-item" [routerLinkActive]="['link-active']">
                    <a class="nav-link text-dark" [routerLink]="['./uservoterscreen']">מסך הצבעות</a>
                </li>


            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


</body>
